<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Web Tours Navigation Bar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<body bgcolor="#E0E7F1">
<div th:fragment="navbar">
<BR><BR>
    <br clear="both"/><A th:HREF="@{/flights}"><IMG BORDER="0" th:SRC="@{img/flights.gif}" ALT="Search Flights Button"/></A>
    <br clear="both"/><A HREF="" ><IMG BORDER="0" th:SRC="@{img/itinerary.gif}" ALT="Itinerary Button"/></A>
    <br clear="both"/><A HREF="" ><IMG BORDER="0" th:SRC="@{img/in_home.gif}" ALT="Home Button"/></A>
    <form th:action="@{/logout}" method="post">
        <input type="image" name="login" value="Sign Out" alt="Login" border="0"
               th:src="@{img/signoff.gif}"/>
    </form>
</div>

</body>
</html>
