    html {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    body{
        margin: 0;
        padding: 0;
        background-color: #e0e7f1;
    }

    *, *::before, *::after {
        box-sizing: inherit;
    }

    header {
        background-color: #003366;
        height: 66px;
    }

    nav {
        background-color: #e0e7f1;
        border-right: solid black 1px;
        width: 9%;

    }

    main {
        background-color: #e0e7f1;
        width: 91%;

    }

    footer {
        background-color: #003366;
        height: 60px;
    }

    h1,
    h2,
    ul,
    p {
        margin: 0;
    }

    li {
        list-style-type: none; /* Убираем маркеры */
    }
    ul{
        margin-top: 50px;
        padding-left: 40px;
    }
    #container{
        display: flex;
        height: 800px;
    }