    blockquote {font-family: tahoma; font-size : 10pt}
    H1 {font-family: tahoma; font-size : 22pt; color: #003366}
    small {font-family: tahoma; font-size : 8pt}
    H3{font-family: tahoma; font-size : 10pt; color: black}
    A {FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Tahoma; TEXT-DECORATION: none}
    A:hover{ FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #993333; FONT-FAMILY: Tahoma;TEXT-DECORATION: underline}
    TD {font-family: tahoma; font-size : 10pt; color: black}
