<HTML xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome to the Staff Training Room</title>
<meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{css/auth.css}">
</head>
<body>
<header>
    <div th:insert="fragments/header.html :: header"></div>
</header>

<div id="container">
    <nav>
        <div style="margin-top: 20px; margin-left: 25px" th:insert="fragments/nav.html :: navbar"></div>
    </nav>
    <main>
        <div style="margin-top: 50px; margin-left: 15px" th:include="fragments/flights.html :: reservation"></div>
        <!--<div style="margin-top: 30px" th:insert="fragments/flights.html :: reservation"></div>-->
    </main>

</div>
</body>
</html>