<HTML xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome to the Staff Training Room</title>
<meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{css/auth.css}">
</head>
<body>
<header>
    <div th:include="header :: header"></div>
</header>

<div id="container">
    <nav>
        <div style="margin-top: 20px; margin-left: 25px" th:include="nav :: navbar"></div>
    </nav>
    <main>
        <div style="margin-top: 30px" th:include="home :: home"></div>
        <!--<div style="margin-top: 50px; margin-left: 15px" th:include="flights :: reservation"></div>-->
        <!--<div style="margin-top: 150px; margin-left: 15px" th:include="home :: home"></div>-->
        <!--<div style="margin-top: 150px; margin-left: 15px" th:include="reservation4 :: reservation4"></div>-->
        <!--<div style="margin-top: 50px; margin-left: 15px" th:include="reservation3 :: reservation3"></div>-->
        <!--<div style="margin-top: 50px; margin-left: 15px" th:include="reservation2 :: reservation2"></div>-->
        <!--<div style="margin-top: 50px; margin-left: 15px" th:include="itinerary :: itinerary"></div>-->
        <!--<div style="margin-top: 50px; margin-left: 15px" th:include="sign_up :: sign_up"></div>-->
        <!--<div style="margin-top: 50px; margin-left: 15px" th:include="sign_up_ok :: sign_up_ok"></div>-->
    </main>

</div>
</body>
</html>